/** base styles **/

html {
  overflow-x: hidden;
}

html,
body {
  height: 100%;
  max-width: 100%;
  scroll-behavior: smooth;
  margin: 0;
  display: table;
  padding: 0;
}

body {
  background: #dc3979;
  font-family: "main", sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

/** shhh it's for consistency purposes **/
::-webkit-scrollbar {
  display: none;
}

/** framework **/

.text-center {
  text-align: center !important;
}

.shadowed {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.top {
  width: 100%;
  height: 0;
}

/** navbar **/

nav {
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.2);
  width: 100%;
  height: 12vh;
  z-index: 9999;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  transition: all 0.25s;
  border-bottom: 5px solid black;
}

.scrolled2 {
  background: #dc3979;
}

div.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

div.nav-brand {
  padding-left: 50px;
  display: flex;
  align-items: center;
  font-size: 2.75em;
}

div.nav-text {
  padding: 10px;
  font-style: oblique;
  text-shadow: -2px -2px 1px #dc3979, 2px -2px 1px #dc3979, -2px 2px 1px #dc3979,
    2px 2px 1px #dc3979;
  cursor: pointer;
}

div.nav-brand .nav-img-container img {
  padding: 10px 0 10px 0;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

div.nav-items {
  padding-right: 50px;
}

ul.nav-ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

li.nav-link {
  padding: 0 30px 0 30px;
}

li.nav-link.non-dd {
  font-size: 2em;
}

a.nav-home-link,
a.nav-about-link,
a.nav-support-link {
  cursor: pointer;
}

.nav-item:hover {
  text-shadow: -2px -2px 1px #dc3979, 2px -2px 1px #dc3979, -2px 2px 1px #dc3979,
    2px 2px 1px #dc3979;
}

.nav-active {
  text-shadow: -2px -2px 1px #dc3979, 2px -2px 1px #dc3979, -2px 2px 1px #dc3979,
    2px 2px 1px #dc3979;
}

/** mostly responsiveness (🤮) **/

a.nav-dropdown-link img {
  font-family: sans-serif;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  margin-bottom: -10px;
}

.nav-ul .nav-link:nth-child(5) {
  position: relative;
}

.nav-ul .nav-link:nth-child(5) .nav-ul {
  display: none;
}

.nav-ul .nav-link:nth-child(5).dropdown .nav-ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: column;
  position: absolute;
  font-size: 1em !important;
  top: -85px;
  left: -37.5vw;
}

.nav-ul .nav-link:nth-child(5).dropdown .nav-ul .nav-link {
  margin: 10px;
  font-size: 2em;
}

/** body **/

/** intro **/
section.intro {
  background: rgb(220, 57, 121);
  background: linear-gradient(
    0deg,
    rgba(220, 57, 121, 1) 0%,
    rgba(116, 76, 252, 1) 100%
  );
  height: 880px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  padding-top: 70px;
}

section.intro div.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

section.intro div.intro img {
  border-radius: 50%;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

section.intro h1 {
  font-size: 5em;
  font-style: oblique;
  margin-top: -10px;
  border-radius: 20px;
  text-shadow: -2px -2px 1px #dc3979, 2px -2px 1px #dc3979, -2px 2px 1px #dc3979,
    2px 2px 1px #dc3979;
}

section.intro .description {
  display: flex;
  justify-content: center;
  align-items: center;
}

section.intro .description h2 {
  font-size: 2em;
  width: 30vw;
  text-align: center;
}

section.intro .description-text span {
  transition: all 1s cubic-bezier(0, 0.45, 0, 1);
}

section.intro .description-text span:hover {
  text-shadow: -2px -2px 1px #744cfc, 2px -2px 1px #744cfc, -2px 2px 1px #744cfc,
    2px 2px 1px #744cfc;
}

/** smp **/

.smp-title {
  font-size: 2em;
}

.smp-banner {
  border-radius: 12px;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  border: 3px solid black;
  transition: all 0.5s;
  cursor: pointer;
}

.smp-banner:hover {
  -webkit-box-shadow: 0px 0px 0px 3px #000000, 0px 0px 0px 6px #610c5d,
    0px 0px 0px 8px #9b0ca0, 0px 0px 0px 10px #b12492, 0px 0px 0px 12px #ff00aa,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 0px 3px #000000, 0px 0px 0px 6px #610c5d,
    0px 0px 0px 8px #9b0ca0, 0px 0px 0px 10px #b12492, 0px 0px 0px 12px #ff00aa,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  background: #000000;
}

.smp-copied {
  color: rgba(255, 255, 255, 0);
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  transition: all 0.5s;
}

/** about **/
div.about-top {
  width: 100%;
  height: 0px;
}

section.about {
  margin-top: 17.5vh;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.about .about-title {
  font-size: 3em;
}

section.about .about-text-container {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

section.about .about-text {
  font-size: 1.75em;
  width: 70%;
}

section.about .carry-status {
  padding-top: 100px;
  width: 40%;
}

section.about .carry-status span {
  font-size: 1.5em;
}

/** support **/
section.support {
  margin-top: 15.5vh;
  width: 100%;
  height: 400px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
  background: #744cfc;
}

section.support .support-title {
  font-size: 3em;
  padding: 20px;
}

section.support a {
  font-size: 2em;
  transition: all 0.5s;
}

section.support a:hover {
  transform: translateY(-1px);
  text-shadow: -2px -2px 1px #dc3979, 2px -2px 1px #dc3979, -2px 2px 1px #dc3979,
    2px 2px 1px #dc3979;
}

/** footer **/
.footer-wrapper {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  display: table-row;
}

footer .footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .footer-text {
  text-align: center;
}

/** responsiveness (copium) (I hate this) (please help me) (jarvis nooOOOO) (I am deppressed) (please help me)!))(E*)**/

@media screen and (max-width: 575.98px) {
  section.intro {
    flex-flow: column;
    height: auto;
    padding: 20px;
  }

  div.intro h1 {
    font-size: 3.75em;
  }

  section.intro .description {
    padding-bottom: 50px;
  }

  section.intro .description-text {
    width: 70vw !important;
  }

  section.about .about-text {
    width: 90%;
  }

  section.about .carry-status {
    width: 60%;
  }
  .nav-ul .nav-link:nth-child(1).non-dd,
  .nav-ul .nav-link:nth-child(2).non-dd,
  .nav-ul .nav-link:nth-child(3).non-dd,
  .nav-ul .nav-link:nth-child(4).non-dd {
    display: none;
  }
}

@media screen and (min-width: 576px) and (max-width: 767.98px) {
  section.intro {
    flex-flow: column;
    height: auto;
    padding: 20px;
  }

  section.intro .description {
    padding-bottom: 50px;
  }

  section.intro .description-text {
    width: 70vw !important;
  }

  section.about .about-text {
    width: 90%;
  }

  section.about .carry-status {
    width: 60%;
  }
  .nav-ul .nav-link:nth-child(1).non-dd,
  .nav-ul .nav-link:nth-child(2).non-dd,
  .nav-ul .nav-link:nth-child(3).non-dd,
  .nav-ul .nav-link:nth-child(4).non-dd {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 991.98px) {
  section.intro {
    flex-flow: column;
    height: auto;
    padding: 20px;
  }

  section.intro .description {
    padding-bottom: 50px;
  }

  section.intro .description-text {
    width: 70vw !important;
  }

  section.about .about-text {
    width: 90%;
  }

  section.about .carry-status {
    width: 60%;
  }
  .nav-ul .nav-link:nth-child(1).non-dd,
  .nav-ul .nav-link:nth-child(2).non-dd,
  .nav-ul .nav-link:nth-child(3).non-dd,
  .nav-ul .nav-link:nth-child(4).non-dd {
    display: none;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199.98px) {
  .nav-ul .nav-link:nth-child(1).non-dd,
  .nav-ul .nav-link:nth-child(2).non-dd,
  .nav-ul .nav-link:nth-child(3).non-dd,
  .nav-ul .nav-link:nth-child(4).non-dd {
    display: none;
  }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
  div.nav-text {
    padding: 0px;
  }

  div.nav-brand {
    padding-left: 10px;
    display: flex;
    align-items: center;
    font-size: 2.75em;
  }

  .nav-ul .nav-link:nth-child(5) {
    display: none;
  }

  li.nav-link {
    padding: 0 15px 0 15px;
    font-size: 2em;
  }
  nav {
    height: 12vh !important;
  }
}

@media (min-width: 1400px) {
  .nav-ul .nav-link:nth-child(5) {
    display: none;
  }
  nav {
    height: 12vh !important;
  }
}
